<!-- <app-navbar></app-navbar> -->
<main class="main-container">
<section class="contact-us-container">
    <div class="mdc-card our-vision-card">
    
  <div class="mdc-theme--secondary-bg contact-us-heading">
      <h3 class="mdc-theme--text-primary-on-primary">
          Contact us
            </h3>  
  </div>
  
  
  <div class="mdc-typography--body1 contact-us-content">
      <p>
          We are happy to help you always. If you need any personal financial
          advise, you can reach out us through Email.
          <br>
          <br>
          Email: <a href="mailto:investpot@gmail.com?Subject=Investpot.in%20Contact%20us" 
          target="_top">investpot@gmail.com</a>
          
          <br>
          <br>
          Also, please feel free to give suggestions if any.
    </p>
  </div>
  </div>

</section>
</main>
<!-- <app-footer></app-footer> -->