<!-- <app-navbar></app-navbar> -->
<main class="main-container">
  <section class="about-us-container">
    <div class="mdc-card our-vision-card">

      <div class="mdc-theme--secondary-bg our-vision-heading">
        <h3 class="mdc-theme--text-primary-on-primary">
          Our vision
        </h3>
      </div>


      <div class="mdc-typography--body1 our-vision-content">
        <p>Our primary goal is to be the top platform for all investments - to give a detailed analysis for every investor and
          help you make the right decision at the right time. We want to be your best financial advisor and chart individual
          financial plan based on your needs. In the end, we want to help you get highest returns on investment.
        </p>
      </div>

      <!-- <div class="connect-with-us-container">
        <app-connect-wth-us> </app-connect-wth-us>
      </div> -->

    </div>


  </section>

  <section>



  </section>
</main>
<!-- <app-footer></app-footer> -->