<div>
  Connect with us -
  <a href="https://www.facebook.com/Investpot-152888165374233/" target="_blank" class="social-network-icon facebook"
  title="Connect with us on Facebook" matTooltip="Facebook">
    <i class="fab fa-facebook-square fa-lg"></i>
  </a>

  <a href="https://twitter.com/investpot" target="_blank" class="social-network-icon twitter"
  title="Connect with us on Twitter" matTooltip="Twitter">
    <i class="fab fa-twitter-square fa-lg"></i>
  </a>

  <a href="https://www.instagram.com/investpot/" target="_blank" class="social-network-icon instagram"
  title="Connect with us on Instagram" matTooltip="Instagram">
    <i class="fab fa-instagram fa-lg" ></i>
  </a>

  <a href="https://plus.google.com/u/0/115340966338788136604" target="_blank" class="social-network-icon google-plus"
  title="Connect with us on Google plus" matTooltip="Google plus">
    <i class="fab fa-google-plus fa-lg"></i>
  </a>
</div>